extends layout

block content
  form#graph(action="/issues/upload", enctype="multipart/form-data", method="post")
    .container-fluid
      .row
        .col-sm-3
          .form-group
            label(for="startDate") Date start
            input.form-control#startDate(type="text" data-provide='datepicker' name="startDate" value="03/01/2016")
        .col-sm-3
          .form-group
            label(for='endDate') End date
            input.form-control#endDate(type="text" data-provide='datepicker' name="endDate" value="03/31/2016")
        .col-sm-6
          each label in labels
            .checkbox
              label(style="background: ##{label.color}")
                input#progress(type="checkbox" name="#{label.name}")
                | #{label.name}
        .col-sm-6
          input.btn.btn-success(type="submit" value="Update")
      .row
        #graphic
