.bar-primary
  .title Cumulative flow diagram
.row
  .col.s12
    #line-chart.ct-chart{data: {collection: @events}}

- content_for :after_content do
  .container
    .bar-primary
      .title Issue today
    .chart-wrapper
      #pie-chart.ct-chart

