.bar-primary
  .title Cumulative flow diagram
.row
  .col.s12
    #line-chart.ct-chart{ data: { collection: @grouped_events_carrier.collection,
                                  label_colors: @grouped_events_carrier.label_colors,
                                  days_of_week: @grouped_events_carrier.days_of_week } }

- content_for :after_content do
  .container
    .bar-primary
      .title Issue today
    .chart-wrapper
      #pie-chart.ct-chart
