.bar-primary
  .title Cumulative flow diagram
.row
  .col.s12
    #line-chart

- content_for :after_content do
  .container
    .bar-primary
      .title Issue today
    .row
      .col.s6
        #pie-chart
      .col-s6

