@keyframes width-pulse {
  0% {
    stroke-width: 6px
  }
  50% {
    stroke-width: 14px;
  }
  100% {
    stroke-width: 6px;
  }
}

@keyframes dashoffset-seven {
  0% {
    stroke-dashoffset: 7px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes dasharray-craziness {
  0% {
    stroke-dasharray: 3px 2px;
  }
  80% {
    stroke-dasharray: 7px 100px;
    stroke-width: 5px
  }
  100% {
    stroke-dasharray: 7px 2px;
  }
}

.ct-chart .ct-label.ct-vertical,
.ct-chart .ct-label.ct-horizontal {
  color: $labels-color;
}

.ct-chart .ct-grid.ct-vertical,
.ct-chart .ct-grid.ct-horizontal {
  stroke: $grid-color;
  stroke-dasharray: 2px;
  shape-rendering: crispEdges;
}

.ct-chart .ct-series.ct-series-a {
  .ct-line {
    stroke: $ct-line-a;
    stroke-width: 10px;
    stroke-linecap: round;
    animation: width-pulse 2s infinite;
  }

  .ct-area {
    fill: lighten($ct-line-a, 20%);
  }
}

.ct-chart .ct-series.ct-series-b {
  .ct-line {
    stroke: $ct-line-b;
    stroke-width: 2px;
    stroke-dasharray: 5px 2px;
    animation: dashoffset-seven 200ms infinite linear;
  }
  .ct-area {
    fill: lighten($ct-line-b, 20%);
  }
}

.ct-chart .ct-series.ct-series-c {
  .ct-line {
    stroke: $ct-line-c;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-dasharray: 30px 5px;
    animation: dasharray-craziness 10s infinite linear;
  }
  .ct-area {
    fill: lighten($ct-line-c, 20%);
  }
}

.ct-series-a .ct-slice-pie,
.ct-series-a .ct-area {
  fill: $ct-line-a;
}

.ct-series-b .ct-slice-pie,
.ct-series-b .ct-area {
  fill: $ct-line-b;
}

.ct-series-c .ct-slice-pie,
.ct-series-c .ct-area {
  fill: darken($ct-line-c, 20%);
}

.ct-chart .ct-grid.ct-vertical,
.ct-chart .ct-grid.ct-horizontal,
.ct-chart .ct-label.ct-vertical,
.ct-chart .ct-label.ct-horizontal {
  stroke: #fff;
  color: #fff;
}
