nav {
  background-color: #478cfe;
}

html, body, .container {
  min-height: 100vh;
}

body {
  background: #d9e7f6;
}

.charts-wrapper {
  margin-top: 0.75rem;
  background-color: #fff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
