$primary-color: #fea71f !default; //Main application theme color
$primary-color-light: lighten($primary-color, 20%) !default;
$primary-color-dark: darken($primary-color, 20%) !default;
$secondary-color:  lighten($primary-color, 20%)  !default;
$success-color: lighten($primary-color, 30%)  !default;
$error-color: red !default;
$link-color: $primary-color !default;

//Charts
$labels-color: rgba(0, 0, 0, 0.5);
$grid-color:  rgb(47, 47, 47);
$ct-line-a: saturate($primary-color, 20%);
$ct-line-b: adjust-hue($primary-color, 20%);
$ct-line-c: desaturate($primary-color, 20%);
