.menu
  %li
    = link_to root_path do
      %i.fa.fa-tachometer.fa-lg
      %span Dashboard
  %li
    = link_to setup_path do
      %i.fa.fa-cogs.fa-lg
      %span Settings
  %li
    = link_to 'javascript:void()' do
      %i.fa.fa-user.fa-lg
      %span Account
