%nav
  .nav-wrapper
    = link_to '#', class: 'brand-logo left' do
      Github Metrics
    %ul#dropdown1.dropdown-content
      %li
        %a{:href => "#!"} Repo1
      %li
        %a{:href => "#!"} Repo2
      %li.divider
      %li
        %a{:href => "#!"} Repo3
    %ul#nav-mobile.right
      %li
        %a.dropdown-button{'chartLineData-activates': 'dropdown1', href: "#!"}
          Repositories
          %i.material-icons.right
      - if login?
        %li
          = link_to 'Logout', logout_path, method: :destroy, class: 'right'
