- if login?
  %ul#dropdown1.dropdown-content
    %li
      %a{:href => "#!"} Settings
    %li
      %a{:href => "#!"} Account
    %li.divider
      %li= link_to 'Logout', logout_path, method: :destroy

%nav
  .nav-wrapper
    = link_to '#', class: 'brand-logo left' do
      Github Metrics
    - if login?
      %ul.right.hide-on-med-and-down
        %li
          %a.dropdown-button{"data-activates" => "dropdown1", :href => "#!"}
            User
