%nav
  .nav-wrapper
    = link_to '#', class: 'brand-logo left' do
      = svg 'gm_logo'

    - if user_signed_in?
      %ul#nav-mobile.right
        %li= link_to t('buttons.logout'), logout_path, method: :destroy, class: 'right'
